body {
    background: white;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navlinks ul{
  text-decoration: none;
  display: flex;
  margin: 10px;
  list-style: none;
}
.navlinks li{
  margin: 1em;
}
#landing {
  display: flex;
  width: 80%;
  margin: auto;
}
.image img{
width: 50%;
}
.image{
  display: flex;
  justify-content: center;
}
#about{
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 3em;
}
#about h1{
  margin-bottom: 1em;
  }
footer .contact{
  display: flex;
  justify-content: space-between;
}
footer{
  padding: 3em;
  background-color: aqua;
  text-align: center;
}
